{% extends "proj/base_proj.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="center">
        <h1>Kmom10: Aväntyrsspel</h1><br>
        <div class="game-box">
            <h2>{{data.room}}</h2>

            <p>{{data.desc}}</p>

            {% if (data.image != "img/proj_rooms/image_died.png") and (data.image != "img/proj_rooms/image_chest.png") %}
            <img class="room" src="{{ asset(data.image) }}" alt="Room image">
        </div>

        <div class="fill">
            <div class="game-bar">
                <form method="POST" action="{{ path('project_handle_room_change') }}">
                    <input class="max" type="text" name="action" placeholder="Vad vill du göra?"></input>
                </form>
            </div>
        </div>
            {% else %}
            <img class="room" src="{{ asset(data.image) }}" alt="Room image">
            <a class="submit white-background link-no-decor" href="{{ path('project_init_reset') }}">Start over?</a>
        </div>
            {% endif %}
    </div>
{% endblock %}
