{% extends "base.html.twig" %}

{% block title %}21 Game{% endblock %}

{% block body %}
<h1>House deck</h1>

<p>Here is the deck of the house:</p>

{{ include('flash.html.twig') }}

<ul class="deck-parent">
    {% for card in deck %}
        <li class="deck {{card.cardColorClass}}">{{ card.cardToUnicode }}</li>
    {% endfor %}
</ul>

<h2 class="underline">User deck</h2>

<ul class="deck-parent">
    {% for card in userDeck %}
        <li class="deck {{card.cardColorClass}}">{{ card.cardToUnicode() }}</li>
    {% endfor %}
</ul>

{% endblock %}
