{% extends "base.html.twig" %}

{% block title %}21 Game{% endblock %}

{% block body %}
<h1>Draw a card</h1>

<p>Here is the drawn card:</p>

{{ include('flash.html.twig') }}

<ul class="deck-parent">
    {% if bool %}
        {% for card in draw %}
            <li class="deck {{card.cardColorClass}}">{{ card.cardToUnicode() }}</li>
        {% endfor %}
    {% else %}
        {% if color %}
        <li class="deck {{color}}">{{ draw }}</li>
        {% else %}
        <li class="deck">{{ draw }}</li>
        {% endif %}
    {% endif %}
</ul>

<h2 class="underline">User deck</h2>

<ul class="deck-parent">
    {% for card in userDeck %}
        <li class="deck {{card.cardColorClass}}">{{ card.cardToUnicode() }}</li>
    {% endfor %}
</ul>

{% endblock %}
