{% extends "base.html.twig" %}

{% block title %}Blackjack{% endblock %}

{% block body %}
<div class="center">
    <h1>Blackjack</h1>
</div><br>

<h2 class="center">Click below to start the game:</h2>

<div class="center">
    <a class="nav-btn" href="{{ path('blackjack_start') }}">Start game</a><br><br><br>
    {# <a class="nav-btn" href="{{ path('deck_card_shuffle') }}">Shuffle deck</a>
    <a class="nav-btn" href="{{ path('deck_card_draw') }}">Draw 1 card</a> #}
    <a class="nav-btn" href="{{ path('session') }}">View session</a>
    <a class="nav-btn" href="{{ path('session_delete') }}">Delete session</a>
    <a class="nav-btn" href="{{ path('blackjack_doc') }}">View documentation</a>
    {# <form class="large" method="POST" action="{{ path('deck_card_draw_num') }}">
        <br><p>Enter a number to draw that number of cards:</p>
        <input type="number" min="0" name="num" class="fill-available"><br>

        <button class="button small link-no-decor">
            <p>Submit</p>
        </button>
    </form> #}
</div>

{% endblock %}
