{% extends "base.html.twig" %}

{% block title %}21 Game{% endblock %}

{% block body %}
<div class="center">
    <h1>21 Game</h1>
</div><br>

<p>The following links and routes are the groundworks of a game called "21", which works similarly to the game
"Blackjack", where the player needs to get 21 points and not overshoot or get less than the dealer.
For a more in depth instructions guide on the game, visit <a href="https://sv.wikipedia.org/wiki/Tjugoett_(kortspel)"> 
this link</a>.</p>

<p>Right now, you can only draw cards, shuffle and view your current deck. To create a deck, visit the deck route or shuffle route. 
To draw one card, visit the simple draw route. If you want to draw more at once, visit the draw/:num route.</p>

<p>
    In this program, i have two main classes. The "Card" class, which holds methods such as "cardToUnicode", which takes the abbreviation 
    of the card name and links it to a unicode graphic of the card, "wholeDeck", which uses the class "CardGraphic" (which has a variable called representation 
    that stores the abbreviations and their respective unicode cards) to create and return an array holding all cards sorted in a deck, "shuffleDeck" which shuffles 
    the deck array, and "getAsString" which returns the string value of the current card.<br>
    The other class "CardGraphic" only holds the "representation" variable, which I already stated, holds the abbreviations to unicode.<br>
    The classes are related in a dependency relationship, since no class owns the other, but Card depends on CardGraphics representation variable.<br><br>
    The following is an UML diagram showing the two classes' relationship:<br><br>
</p>

<div class="center">
    <img class="small border" src="{{ asset('img/UML.png') }}" alt=""><br><br><br>
</div>

<h2 class="center">These are the routes for the card game thus far:</h2>
<p class="center">(PS. The :number page for the button below is different and uses draw/page instead of draw/:number,<br> since I could not use a form to display the user imputed number at the end of the link.)</p><br>

<div class="center">
    <a class="nav-btn" href="{{ path('deck_card') }}">View deck</a>
    <a class="nav-btn" href="{{ path('deck_card_shuffle') }}">Shuffle deck</a>
    <a class="nav-btn" href="{{ path('deck_card_draw') }}">Draw 1 card</a>
    <form class="large" method="POST" action="{{ path('deck_card_draw_num') }}">
        <br><p>Enter a number to draw that number of cards:</p>
        <input type="number" min="0" name="num" class="fill-available"><br>

        <button class="button small link-no-decor">
            <p>Submit</p>
        </button>
    </form>
</div>

{% endblock %}
