{% extends "base.html.twig" %}

{% block title %}Content of session{% endblock %}

{% block body %}
    <div class="center">
        <h1>Content of session</h1>
        {{ include('flash.html.twig') }}
        {% if session %}
            <p>Amount of cards left: {{left}}</p>

            <p>Cards left:</p>
            <ul class="deck-parent">
                {% for card in hand %}
                    <li class="deck {{card.cardColorClass}}">{{card.cardToUnicode}}</li>
                {% endfor %}
            </ul><br>

            <p>Raw content of session:</p><br>
            <p>{{ dump(session.deck.getAsString) }}</p>
        {% endif %}
    </div>
{% endblock %}
